<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Error</title>
</head>
<body>
    <h1 style="font-family: sans-serif;">Sorry, we have a internal error, try again late!</h1>
</body>
</html>